body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
}

h2 {
  font-weight: 700;
}

h2,
h3 {
  color: #2e2f42;
}

h3 {
  font-weight: 500;
}

.section-hero {
  background-color: #2e2f42;
}

.section-benefits {
  background-color: #ffffff;
}

.section-team {
  background-color: #f4f4fd;
}

.section-portfolio {
  background-color: #ffffff;
}

footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
}

.nav-links > li > a {
  text-decoration: none;
  color: #2e2f42;
}

.nav-links > li a:hover {
  color: #404bbf;
}

.nav-links > li > .studio:active {
  text-decoration: underline;
}

.address-list > li a {
  color: #2e2f42;
  text-decoration: none;
}

.address-list > li a:hover {
  color: #404bbf;
}

button {
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
}

button:hover {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
